/*
 * Tom Curry
*/

ul li {
  list-style:none;
  padding-bottom:0;
  }

body{
  margin:0;
}

h1, h2, h3, h3, h4, h5, h6 {
	/* font-family:DeathFromAbove !important; */
  /* letter-spacing: 14px; */
  text-transform:uppercase;
}

h1 {padding-bottom:20px;}

p {
	font-family: 'Ubuntu', sans-serif !important;
	font-size:18px;
	margin: 0 !important;
}

a {font-family: 'Ubuntu', sans-serif !important;}

#therapy_title {position:relative;}

#therapy_title a:hover {text-decoration:none !important}

.title {color:#6b4250;text-transform:uppercase;font-family:DeathFromAbove;font-size:80px;opacity:0.6;letter-spacing: 14px;}

.sub_title {color:#6b4250;text-transform:uppercase;font-family:DeathFromAbove;font-size:60px;opacity:0.4;margin-top:-20px;letter-spacing: 14px;}

.small_titles {
  font-size:20px !important;
  opacity:0.5 !important;
  }

.small_menu_titles {
  width:30% !important;
  opacity:1 !important;
  float:left;
}

.therapy-menu-small {
  text-align:center;
  width:700px;
  margin-left:28%;
  background-color:transparent !important;
  border:none !important;
  padding-top:3%;
  }

.therapy-menu-big {
  margin-top:0;
  text-align:center;
  width:100%;
  margin-left:0;
  background-color:transparent !important;
  border:none !important;
  }

.navbar-toggle {float:center !important;}

/* --- the landing section ---  */
/* .icon {cursor:pointer;} */

.small_icon {
  max-height:64px;
  width:320px !important;
  float:right;
  margin-top:2% !important;
  text-align:center !important;
}

.small_icon img {height:60px;width:auto;}

.small_icon h3 {font-size:12px;}

.main_content{
  padding-top:10px;
}

.therapy_menu_item {cursor:pointer;}

/* new therapy secton */



.therapy_section {
  text-align:center;
  padding-bottom:0;
  position:relative;
  z-index:5;
  padding-left:0 !important;
  padding-right:0 !important;
  }

.sub_section{padding-left:20px;padding-right:20px;width:100%;}

#about_tom p {color:#dad586;}
#about_tom a {color:#b4ad51;}
#about_tom h1, h2, h3, h4, h5, h6 {color:#FFFBC1 !important;}

#more_therapy h1, h2, h3, h4, h5, h6 {color:#ffedb2 !important;}
#more_therapy p {color:#ffe228;}
#more_therapy a {color:#cea936;}

#media {padding-top:30px;}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
  background-color:#ffffff;
  border: 7px solid #ffffff;
}

.video-container {width:70%;margin:auto;}

.flex-video.widescreen { padding-bottom: 57.25%; }

.flex-video.vimeo { padding-top: 0; }

.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#about_tom h1 {color:#fff5dc;}

#foot {background-color:#2d0e1d;width:100%;margin:0;margin-top:10px;padding-top:20px;padding-bottom:10px;position:relative;}

.social-icon-img {width:32px;height:auto;margin-left:15px;}

#social-icons a:hover {opacity:0.8;}

#contact {text-align:center;}

@media (max-width: 992px) {

  #content .entry-header,
  #content .entry-content,
  #content .entry-summary,
  #content footer.entry-meta,
  #content .featured-gallery,
  .search.sidebar .page-content,
  .blog.sidebar .page-content,
  .sidebar .post-navigation .nav-links,
  .paging-navigation .nav-links,
  #content .author-info,
  .comments-area .comments-title,
  .comments-area .comment-list,
  .comments-area .comment-navigation,
  .comment-respond,
  .sidebar .site-info,
  .sidebar .paging-navigation .nav-links {
    padding-left: 0;
    padding-right: 0;
  }

  p {font-size:13px;}

  h3 {font-size:18px;}

  .topics{max-height:75%;}
  .therapy-menu-small {width:700px;margin-left:28%;}
  .therapy-menu-big{margin-left:21%;margin-top:4%;}
  .navbar-toggle{float:center;}
  .navbar-collapse {background-color:transparent;}
  .video-container {width:80%;}
}


@media (max-width: 767px) {
  .navbar-collapse {background-color:#fff;}
  .therapy-menu-small {width:50%;margin-left:29%;}
  .therapy-menu-big{width:50%;margin-left:23%;}
  .therapy-menu-small .navbar-toggle {float:left !important;}
  #page_bg{position:absolute !important;}

}

@media (max-width: 680px) {
  #sub_title {font-size:30px !important;}
  #title {font-size:40px !important;}
  .therapy-menu-small {width:50%;margin-left:40%;}
  .therapy-menu-big{margin-top:3%;}
  .video-container {width:90%;}
}

@media (max-width: 661px){
  .title {font-size:65px;}
  .sub_title {font-size:34px;}
}

@media (max-width: 520px){
  .title {font-size:50px;}
  .sub_title {font-size:29px;}
}

@media (max-width: 440px) {
  .title {font-size:25px;}
  .sub_title {font-size:20px;}
  .therapy-menu-small {width:69%;margin-left:38%;}
  .therapy-menu-big{width:75%;margin-left:12%;}
  .therapy-menu-small .navbar-toggle {float:right !important;}
  .therapy_section h1 {font-size:24px;}
  .therapy_section h3 {font-size:20px;}
  .video-container {width:99%;}
}
