 <!-- jQuery Version 1.11.0 -->
    <script src="{{ site.github.url }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.github.url }}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ site.github.url }}/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.github.url }}/js/grayscale.js"></script>
    <script src="{{ site.github.url }}/js/extra.js"></script>
    <script src="{{ site.github.url }}/js/scroll.js"></script>
    <script src="{{ site.github.url }}/js/google.js"></script>
