<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target=".navbar-main-collapse"
      >
        <i class="fa fa-bars"></i>
      </button>
      <a class="navbar-brand page-scroll" href="{{ site.github.url }}/">
        <span class="light">Tom Curry</span>
      </a>
      <a class="navbar-brand hidden-xs" href="https://twitter.com/TomCurryMT">
        <i class="fa fa-twitter"></i>
      </a>
      <a
        class="navbar-brand hidden-xs"
        href="https://soundcloud.com/tomcurry-1/"
      >
        <i class="fa fa-soundcloud"></i>
      </a>
      <a
        class="navbar-brand hidden-xs"
        href="https://www.youtube.com/user/tomsdilly"
      >
        <i class="fa fa-youtube"></i>
      </a>
      <a
        class="navbar-brand hidden-xs"
        href="http://instagram.com/tomcurrymusic"
      >
        <i class="fa fa-instagram"></i>
      </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
      <ul class="nav navbar-nav">
        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
        <li class="hidden">
          <a href="#page-top"></a>
        </li>
        <li>
          <a href="{{ site.github.url }}/about">About Tom</a>
        </li>
        <li>
          <a href="{{ site.github.url }}/music">Tom's Music</a>
        </li>
        <li>
          <a href="{{ site.github.url }}/">Music Therapy</a>
        </li>
        <li>
          <a href="{{ site.github.url }}/videos">Videos</a>
        </li>
        <li>
          <a href="{{ site.github.url }}/news">News</a>
        </li>
        <li>
          <a class="page-scroll" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container -->
</nav>
