@font-face {
  font-family: 'DeathFromAbove';
  font-style: normal;
  font-weight: 300;
  src: local('DeathFromAbove'), local('OpenSans-Light'), url(https://googledrive.com/host/0B_yi02gWy34NWTlGWFE3dnY2Q0E/DeathFromAbove.woff) format('woff');
}
